/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 22px;
  --transition: all .2s ease-in-out;
}

/* main */

@font-face {
  font-family: "death_devilregular";
  src: url('../fonts/death_devil-webfont.woff2') format('woff2'),
       url('../fonts/death_devil-webfont.woff') format('woff'),
       url('../fonts/death_devil-webfont.tff') format('ttf');
}

@font-face {
  font-family: "thedark-regular";
  src: url('../fonts/thedark-pr2z-webfont.woff2') format('woff2'),
       url('../fonts/thedark-pr2z-webfont.woff') format('woff'),
       url('../fonts/thedark-pr2z-webfont.tff') format('ttf');
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blurIn {
  0% {
    filter: blur(20px);
  }
  100% {
    filter: blur(0px);
  }
}

* {
  box-sizing: border-box;
  font-family: "thedark-regular", 'Montserrat', sans-serif;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: var(--font-size-large);
  font-family: "death_devilregular", 'Montserrat', sans-serif;
}

h1 {
  font-size: 40px;
  color: #FFF;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.key:hover {
  -webkit-filter: brightness(1.4);
  -o-filter: brightness(1.4);
  filter: brightness(1.4);
}
#btn__reset {
	width: 200px;
	margin: 0 auto;
  animation: fadeIn 4s 1 ease-in-out;
}

#btn__reset:hover {
	transform: scale(1.2);
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  text-align: center;
}

.section {
  width: 100%;
  padding: 20px;
}

#scoreboard {
  width: 100%;
  padding: 10px;
  margin-top: auto;
  position: relative;
  bottom: 3rem;
  transition:  opacity 1s;
}

#song ul li{
  margin-top: 1em;
  -webkit-animation: fadeIn 1s 1;
  animation: fadeIn 1s 1;
}

/* Title */
.header {
  color: #FFF;
  text-shadow: 2px 1px 2px #000;
  position: relative;
  top: 4rem;
  animation: fadeIn 4s 1 ease-in-out;
}


/* Phrase */

.letter {
  font-size: 30px;
  height: 65px;
  width: 65px;
  padding: 10px 1px 10px 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  border: 3px solid #87878d;
}

.space {
  width: 15px;
}



.show {
  color: #fff;
  background-color: #30555b;
  font-size: 30px;
  height: 65px;
  width: 65px;
  padding: 10px 1px 10px 1px;
  margin-right: 2px;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: : .5s;
}


/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: #19af9e;
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background: #f7a964;
  opacity: 0.6;
}

.wrong:hover, .chosen:hover {
  -webkit-filter: brightness();
  -o-filter: brightness();
  filter: brightness();
}

.btn__reset {
  padding: 16px;
  margin: 50px auto;
  background: #f7a964;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: solid 4px rgba(0, 0, 0, .3);
  border-right: solid 3px rgba(0, 0, 0, .3)
}

.btn__reset:active {
  padding: 14px 16px 16px 14px;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
  border-right: solid 3px rgba(0, 0, 0, 0);
}

.start {
  background-color: #3a3f58;
}

.win {
  background-image: linear-gradient(
    to bottom right,
    #213624,
    #3e6543 40%,
    #6aa472 80%
    );
  -webkit-animation: blurIn 3s 1;
  animation: blurIn 3s 1;
}


.lose {
  background-image: linear-gradient(
    to bottom right,
    #490303,
    #8d0a0a 60%,
    #f40b0b 80%
    );
  -webkit-animation: blurIn 3s 1;
  animation: blurIn 3s 1;
}
